* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    /* CORES */
    --dark-blue: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons: #A5B0C1;

    --dark-grey: #4D5E77;
    --blue-grey: #A1B2CD;
    --medium-grey: #D3D9E2;
    --light-grey: #E5EAF1;

    /* 1rem = 16px (User Agent = css padrão no navegador) por padrão */
    font-size: 62.5% /* 10px */
}

body {
    display: flex;
    height: 100vh; /* 'view height' significa a altura da tela total | 'view width' significa a largura da tela total */
    background: var(--background);
}

body, button, input, textarea {
    /* 'clamp' é o intervalo de tamanho de fonte, do minimo, padrão e o máximo */
    font-size: clamp(14px, 1.6rem, 2vw);
    
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content {
    width: 100%;
    margin: 0 auto;
}

/* oculta o label */
.sr-only {
    position: absolute; /* a posição do item sobrepõe tudo */
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px; /* para colocar o texto para cima */
    overflow: hidden; /* para não ter barra de rolagem */
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* INPUT AND BUTTONS */
input, button, .button {
    border-radius: 0.8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0; /* linha que acompanha o texto */

    display: flex;
    align-items: center; /* 'align-items' sempre alinha na vertical o elemento */
    justify-content: center; /* 'justify-content' sempre alinha na horizontal o elemento */

    background: var(--blue);
    color: var(--white);

    transition: filter 0.2s;

    cursor: pointer;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: 0.2rem solid var(--blue);
}

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img{
    width: 16.7rem;
}

