.content {
    display: grid;
    grid-template-columns: 60% 40%; /* a soma das colunas devem ser de 100% */
    grid-template-rows: 11.4rem 1fr; /* '1fr' significa qu o valor restante é uma fração, ou seja, totalizando duas partes */
    /* o que define a posição dos elementos no grid */
    grid-template-areas:
    'header header'
    'left right'
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;

    background: url('/assets/background-home.svg') no-repeat top/contain; /* 'top/contain' encaixa a imagem no tamanho disponivel */
    background-position: -10rem;
}

main {
    grid-area: right;
    
    display: flex;
    align-items: center;
    margin-top: -12rem;
}

main.container {
    width: min(36.3rem, 100%); /* prevalece o valor minimo */
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-blue);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: 0.2rem solid var(--blue-grey);
    padding: 0 1.6rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}

/* Separator Line */
.separator {
    display: flex;
    align-items: center;

    margin: 4rem 0;
}

.separator div:nth-child(2) {
    color: var(--blue-grey);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
}

/* 'nth-child' especifica o filho da div que deve ser utilizado */
.separator div:nth-child(1),
.separator div:nth-child(3) {
    background: var(--blue-grey);
    width: 100%;
    height: 1px;
}

/* Create Balls */
.ball {
    width: 21.2rem;
    height: 21.2rem;
    background: var(--blue);
    clip-path: circle(); /* transforma a figura em um círculo */ 
    opacity: 0.1;

    position: fixed; /* o elemento sobrepõe os outros */
}

.ball.top {
    top: -46rem;
    width: 63.3rem;
    right: -35rem;
    height: 63.3rem;
}

.ball.bottom {
    bottom: -15rem;
    right: 5.6rem;
}